.paper {
}
.firstLine{

}
.subTitle{
  margin-bottom: 50px;
  font-size: 22px;
}
.secondLine{
  display: flex;
  margin-top: 40px;
}
.fieldContainer{
  flex: 1 1 60%;
}
.fieldTitle{
  font-family: DM Sans, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #727272;
}
.button{
  border-width: 0;
  font-family: DM Sans, sans-serif;
  width: max-content;
  padding: 13px 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #FFF;
  background: linear-gradient(98.58deg, #882BFF 4.5%, rgba(255, 0, 122, 0.76) 99.14%), linear-gradient(105.75deg, #6580FF 0%, #E978A7 100.17%);
}
.buttonContainer{
  margin-top: 50px;
}
.privacy{
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  line-height: 24px;
}
.forgotPass{
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  margin-top: 16px;
  &__text{
    color: #000000;
    margin-right: 5px;
  }
  &__link{
    text-decoration-line: underline;
    color: #C82FC6;
  }
}
.radioContainer{
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.avatar{
}

.submit{
}
.form {
  width: 100%;
  &__field {
    border-radius: 10px;
  }
  &__btnContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__yellow {
      // @extend %btn-shared;
      background: #E7A90A;
      &:hover {
        background:  #E7A90A;
      }
    }
    &__blue {
      // @extend %btn-shared;
      background: #4065E0;
      margin-top: 20px;
      &:hover {
        background:  #4065E0;
      }
    }
  }
  &__forgotPassword {
    margin-top: 10px;
    justify-content: center;
  }
}