.button{
  font-family: DM Sans, sans-serif;
  width: max-content;
  padding: 13px 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  line-height: 22px;
  color: #FFFFFF;
  background: linear-gradient(98.58deg, #882BFF 4.5%, rgba(255, 0, 122, 0.76) 99.14%), linear-gradient(105.75deg, #6580FF 0%, #E978A7 100.17%);
}